In [ ]:
!pip3 install pyspark

In [ ]:
!export PYSPARK_SUBMIT_ARGS="--master local[2] pyspark-shell"

In [168]:
import pyspark
from pyspark.sql import SparkSession
from urllib.parse import quote
import pymongo
from pyspark import SparkContext,SparkConf
from pyspark.sql.functions import col
from pyspark.sql.functions import isnull, when, count, col, isnan, col, isnan, when, trim
from pyspark.ml.feature import StringIndexer
from pyspark.ml.feature import VectorAssembler
from pyspark.sql.types import *
import pyspark.sql.functions as F
from pyspark.ml.regression import RandomForestRegressor
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml import Pipeline
from pyspark.ml.regression import GBTRegressor
from pyspark.ml.feature import VectorIndexer
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.regression import GeneralizedLinearRegression
from pyspark.ml.feature import MinMaxScaler

In [2]:
pyspark.__version__

'3.2.0'

In [3]:
spark = SparkSession\
    .builder\
    .master('local')\
    .config('spark.mongodb.input.uri', 'mongodb+srv://ajinkya30:'+quote('Ajinkya@30')+'@clusterstock.jw7kb.mongodb.net/DB_Stock.Record_Stock?retryWrites=true&w=majority')\
    .config('spark.mongodb.output.uri', 'mongodb+srv://ajinkya30:'+quote('Ajinkya@30')+'@clusterstock.jw7kb.mongodb.net/DB_Stock.Record_Stock?retryWrites=true&w=majority')\
    .config('spark.jars.packages', 'org.mongodb.spark:mongo-spark-connector_2.12:3.0.1')\
    .getOrCreate()

In [4]:
spark

In [103]:
df = spark.read\
    .format("com.mongodb.spark.sql.DefaultSource")\
    .option("database","DB_Stock")\
    .option("collection", "Record_Stock")\
    .load()

In [62]:
df

DataFrame[Name: string, _id: struct<oid:string>, close: double, date: string, diff: double, high: double, low: double, open: double, volume: int]

In [63]:
df.show(5)

+----+--------------------+-----+----------+-------------------+-----+-----+-----+--------+
|Name|                 _id|close|      date|               diff| high|  low| open|  volume|
+----+--------------------+-----+----------+-------------------+-----+-----+-----+--------+
| AAL|{6196c127a87a68a4...|14.75|2013-02-08|0.48999999999999844|15.12|14.63|15.07| 8407500|
| AAL|{6196c127a87a68a4...|14.46|2013-02-11|               0.75|15.01|14.26|14.89| 8882000|
| AAL|{6196c127a87a68a4...|14.27|2013-02-12|0.41000000000000014|14.51| 14.1|14.45| 8126000|
| AAL|{6196c127a87a68a4...|14.66|2013-02-13| 0.6899999999999995|14.94|14.25| 14.3|10259500|
| AAL|{6196c127a87a68a4...|13.99|2013-02-14| 1.8000000000000007|14.96|13.16|14.94|31879900|
+----+--------------------+-----+----------+-------------------+-----+-----+-----+--------+
only showing top 5 rows

In [64]:
data = df.toPandas()

In [65]:
data

,Name,_id,close,date,diff,high,low,open,volume
0,AAL,"(6196c127a87a68a43a04bec0,)",14.75,2013-02-08,0.49,15.12,14.63,15.07,8407500
1,AAL,"(6196c127a87a68a43a04bec1,)",14.46,2013-02-11,0.75,15.01,14.26,14.89,8882000
2,AAL,"(6196c127a87a68a43a04bec2,)",14.27,2013-02-12,0.41,14.51,14.10,14.45,8126000
3,AAL,"(6196c127a87a68a43a04bec3,)",14.66,2013-02-13,0.69,14.94,14.25,14.30,10259500
4,AAL,"(6196c127a87a68a43a04bec4,)",13.99,2013-02-14,1.80,14.96,13.16,14.94,31879900
...,...,...,...,...,...,...,...,...,...
619035,ZTS,"(6196c12da87a68a43a0e30db,)",77.82,2018-02-01,1.58,78.27,76.69,76.84,2982259
619036,ZTS,"(6196c12da87a68a43a0e30dc,)",76.78,2018-02-02,1.39,78.12,76.73,77.53,2595187
619037,ZTS,"(6196c12da87a68a43a0e30dd,)",73.83,2018-02-05,3.74,76.92,73.18,76.64,2962031
619038,ZTS,"(6196c12da87a68a43a0e30de,)",73.27,2018-02-06,2.43,74.56,72.13,72.74,4924323
619039,ZTS,"(6196c12da87a68a43a0e30df,)",73.86,2018-02-07,2.31,75.00,72.69,72.70,4534912

In [9]:
df

DataFrame[Name: string, _id: struct<oid:string>, close: double, date: string, diff: double, high: double, low: double, open: double, volume: int]

In [66]:
df.count()

619040

In [15]:
df.dtypes

[('Name', 'string'),
 ('_id', 'struct<oid:string>'),
 ('close', 'double'),
 ('date', 'string'),
 ('diff', 'double'),
 ('high', 'double'),
 ('low', 'double'),
 ('open', 'double'),
 ('volume', 'int')]

See the decsriptive statistics

In [67]:
df.describe().toPandas()

,summary,Name,close,date,diff,high,low,open,volume
0,count,619040,619040,619040,619040,619040,619040,619040,619040
1,mean,None,83.04376276476455,None,NaN,NaN,NaN,NaN,4321823.395568945
2,stddev,None,97.38974800165754,None,NaN,NaN,NaN,NaN,8693609.511967564
3,min,A,1.59,2013-02-08,-0.25500000000000256,1.69,1.5,1.62,0
4,max,ZTS,2049.0,2018-02-07,NaN,NaN,NaN,NaN,618237630

Convert the date column to date type

In [104]:
dataset = df.select(col('date').cast('date'),col('Name'),col('open'),col('close'),col('high'),col('low'),col('volume'),col('diff'))

In [105]:
dataset.show()

+----------+----+-----+-----+-----+-----+--------+-------------------+
|      date|Name| open|close| high|  low|  volume|               diff|
+----------+----+-----+-----+-----+-----+--------+-------------------+
|2013-02-08| AAL|15.07|14.75|15.12|14.63| 8407500|0.48999999999999844|
|2013-02-11| AAL|14.89|14.46|15.01|14.26| 8882000|               0.75|
|2013-02-12| AAL|14.45|14.27|14.51| 14.1| 8126000|0.41000000000000014|
|2013-02-13| AAL| 14.3|14.66|14.94|14.25|10259500| 0.6899999999999995|
|2013-02-14| AAL|14.94|13.99|14.96|13.16|31879900| 1.8000000000000007|
|2013-02-15| AAL|13.93| 14.5|14.61|13.93|15628000| 0.6799999999999997|
|2013-02-19| AAL|14.33|14.26|14.56|14.08|11354400| 0.4800000000000004|
|2013-02-20| AAL|14.17|13.33|14.26|13.15|14725200| 1.1099999999999994|
|2013-02-21| AAL|13.62|13.37|13.95| 12.9|11922100|  1.049999999999999|
|2013-02-22| AAL|13.57|13.57| 13.6|13.21| 6071400| 0.3899999999999988|
|2013-02-25| AAL| 13.6|13.02|13.76| 13.0| 7186400| 0.7599999999999998|
|2013-02-26| AAL|13.14|13.26|13.42| 12.7| 9419000| 0.7200000000000006|
|2013-02-27| AAL|13.28|13.41|13.62|13.18| 7390500| 0.4399999999999995|
|2013-02-28| AAL|13.49|13.43|13.63|13.39| 6143600| 0.2400000000000002|
|2013-03-01| AAL|13.37|13.61|13.95|13.32| 7376800|  0.629999999999999|
|2013-03-04| AAL| 13.5| 13.9|14.07|13.47| 8174800| 0.5999999999999996|
|2013-03-05| AAL|14.01|14.05|14.05|13.71| 7676100|0.33999999999999986|
|2013-03-06| AAL|14.52|14.57|14.68|14.25|13243200| 0.4299999999999997|
|2013-03-07| AAL| 14.7|14.82|14.93| 14.5| 9125300| 0.4299999999999997|
|2013-03-08| AAL|14.99|14.92| 15.2|14.84|10593700|0.35999999999999943|
+----------+----+-----+-----+-----+-----+--------+-------------------+
only showing top 20 rows

To check null values

In [73]:
dataset.select([count(when(isnull(c), c)).alias(c) for c in dataset]).show()

+----+----+----+-----+----+---+------+----+
|date|Name|open|close|high|low|volume|diff|
+----+----+----+-----+----+---+------+----+
|   0|   0|   0|    0|   0|  0|     0|   0|
+----+----+----+-----+----+---+------+----+

In [92]:
dataset_1 = dataset.select(col('open'),col('close'),col('high'),col('low'),col('volume'),col('diff'))

To check the NAN values

In [81]:
dataset.select([count(when(isnan(c), c)).alias(c) for c in dataset_1.columns]).show()

+----+-----+----+---+------+----+
|open|close|high|low|volume|diff|
+----+-----+----+---+------+----+
|  11|    0|   8|  8|     0|   8|
+----+-----+----+---+------+----+

Encoding the name column

In [106]:
dataset = StringIndexer(
    inputCol='Name', 
    outputCol='Stock_Abbrv', 
    handleInvalid='keep').fit(dataset).transform(dataset)

In [107]:
dataset.show()

+----------+----+-----+-----+-----+-----+--------+-------------------+-----------+
|      date|Name| open|close| high|  low|  volume|               diff|Stock_Abbrv|
+----------+----+-----+-----+-----+-----+--------+-------------------+-----------+
|2013-02-08| AAL|15.07|14.75|15.12|14.63| 8407500|0.48999999999999844|        1.0|
|2013-02-11| AAL|14.89|14.46|15.01|14.26| 8882000|               0.75|        1.0|
|2013-02-12| AAL|14.45|14.27|14.51| 14.1| 8126000|0.41000000000000014|        1.0|
|2013-02-13| AAL| 14.3|14.66|14.94|14.25|10259500| 0.6899999999999995|        1.0|
|2013-02-14| AAL|14.94|13.99|14.96|13.16|31879900| 1.8000000000000007|        1.0|
|2013-02-15| AAL|13.93| 14.5|14.61|13.93|15628000| 0.6799999999999997|        1.0|
|2013-02-19| AAL|14.33|14.26|14.56|14.08|11354400| 0.4800000000000004|        1.0|
|2013-02-20| AAL|14.17|13.33|14.26|13.15|14725200| 1.1099999999999994|        1.0|
|2013-02-21| AAL|13.62|13.37|13.95| 12.9|11922100|  1.049999999999999|        1.0|
|2013-02-22| AAL|13.57|13.57| 13.6|13.21| 6071400| 0.3899999999999988|        1.0|
|2013-02-25| AAL| 13.6|13.02|13.76| 13.0| 7186400| 0.7599999999999998|        1.0|
|2013-02-26| AAL|13.14|13.26|13.42| 12.7| 9419000| 0.7200000000000006|        1.0|
|2013-02-27| AAL|13.28|13.41|13.62|13.18| 7390500| 0.4399999999999995|        1.0|
|2013-02-28| AAL|13.49|13.43|13.63|13.39| 6143600| 0.2400000000000002|        1.0|
|2013-03-01| AAL|13.37|13.61|13.95|13.32| 7376800|  0.629999999999999|        1.0|
|2013-03-04| AAL| 13.5| 13.9|14.07|13.47| 8174800| 0.5999999999999996|        1.0|
|2013-03-05| AAL|14.01|14.05|14.05|13.71| 7676100|0.33999999999999986|        1.0|
|2013-03-06| AAL|14.52|14.57|14.68|14.25|13243200| 0.4299999999999997|        1.0|
|2013-03-07| AAL| 14.7|14.82|14.93| 14.5| 9125300| 0.4299999999999997|        1.0|
|2013-03-08| AAL|14.99|14.92| 15.2|14.84|10593700|0.35999999999999943|        1.0|
+----------+----+-----+-----+-----+-----+--------+-------------------+-----------+
only showing top 20 rows

In [108]:
# Drop unnecessary columns
dataset = dataset.drop('Name')
dataset.show()

+----------+-----+-----+-----+-----+--------+-------------------+-----------+
|      date| open|close| high|  low|  volume|               diff|Stock_Abbrv|
+----------+-----+-----+-----+-----+--------+-------------------+-----------+
|2013-02-08|15.07|14.75|15.12|14.63| 8407500|0.48999999999999844|        1.0|
|2013-02-11|14.89|14.46|15.01|14.26| 8882000|               0.75|        1.0|
|2013-02-12|14.45|14.27|14.51| 14.1| 8126000|0.41000000000000014|        1.0|
|2013-02-13| 14.3|14.66|14.94|14.25|10259500| 0.6899999999999995|        1.0|
|2013-02-14|14.94|13.99|14.96|13.16|31879900| 1.8000000000000007|        1.0|
|2013-02-15|13.93| 14.5|14.61|13.93|15628000| 0.6799999999999997|        1.0|
|2013-02-19|14.33|14.26|14.56|14.08|11354400| 0.4800000000000004|        1.0|
|2013-02-20|14.17|13.33|14.26|13.15|14725200| 1.1099999999999994|        1.0|
|2013-02-21|13.62|13.37|13.95| 12.9|11922100|  1.049999999999999|        1.0|
|2013-02-22|13.57|13.57| 13.6|13.21| 6071400| 0.3899999999999988|        1.0|
|2013-02-25| 13.6|13.02|13.76| 13.0| 7186400| 0.7599999999999998|        1.0|
|2013-02-26|13.14|13.26|13.42| 12.7| 9419000| 0.7200000000000006|        1.0|
|2013-02-27|13.28|13.41|13.62|13.18| 7390500| 0.4399999999999995|        1.0|
|2013-02-28|13.49|13.43|13.63|13.39| 6143600| 0.2400000000000002|        1.0|
|2013-03-01|13.37|13.61|13.95|13.32| 7376800|  0.629999999999999|        1.0|
|2013-03-04| 13.5| 13.9|14.07|13.47| 8174800| 0.5999999999999996|        1.0|
|2013-03-05|14.01|14.05|14.05|13.71| 7676100|0.33999999999999986|        1.0|
|2013-03-06|14.52|14.57|14.68|14.25|13243200| 0.4299999999999997|        1.0|
|2013-03-07| 14.7|14.82|14.93| 14.5| 9125300| 0.4299999999999997|        1.0|
|2013-03-08|14.99|14.92| 15.2|14.84|10593700|0.35999999999999943|        1.0|
+----------+-----+-----+-----+-----+--------+-------------------+-----------+
only showing top 20 rows

In [96]:
dataset.dtypes

[('date', 'date'),
 ('open', 'double'),
 ('close', 'double'),
 ('high', 'double'),
 ('low', 'double'),
 ('volume', 'int'),
 ('diff', 'double'),
 ('Stock_Abbrv', 'double')]

Converting the date column in to a numeric encoded entry

In [109]:
dataset=dataset.withColumn("dateAsInteger", F.unix_timestamp(dataset['date']))

In [110]:
dataset = dataset.drop('date')
dataset.show()

+-----+-----+-----+-----+--------+-------------------+-----------+-------------+
| open|close| high|  low|  volume|               diff|Stock_Abbrv|dateAsInteger|
+-----+-----+-----+-----+--------+-------------------+-----------+-------------+
|15.07|14.75|15.12|14.63| 8407500|0.48999999999999844|        1.0|   1360299600|
|14.89|14.46|15.01|14.26| 8882000|               0.75|        1.0|   1360558800|
|14.45|14.27|14.51| 14.1| 8126000|0.41000000000000014|        1.0|   1360645200|
| 14.3|14.66|14.94|14.25|10259500| 0.6899999999999995|        1.0|   1360731600|
|14.94|13.99|14.96|13.16|31879900| 1.8000000000000007|        1.0|   1360818000|
|13.93| 14.5|14.61|13.93|15628000| 0.6799999999999997|        1.0|   1360904400|
|14.33|14.26|14.56|14.08|11354400| 0.4800000000000004|        1.0|   1361250000|
|14.17|13.33|14.26|13.15|14725200| 1.1099999999999994|        1.0|   1361336400|
|13.62|13.37|13.95| 12.9|11922100|  1.049999999999999|        1.0|   1361422800|
|13.57|13.57| 13.6|13.21| 6071400| 0.3899999999999988|        1.0|   1361509200|
| 13.6|13.02|13.76| 13.0| 7186400| 0.7599999999999998|        1.0|   1361768400|
|13.14|13.26|13.42| 12.7| 9419000| 0.7200000000000006|        1.0|   1361854800|
|13.28|13.41|13.62|13.18| 7390500| 0.4399999999999995|        1.0|   1361941200|
|13.49|13.43|13.63|13.39| 6143600| 0.2400000000000002|        1.0|   1362027600|
|13.37|13.61|13.95|13.32| 7376800|  0.629999999999999|        1.0|   1362114000|
| 13.5| 13.9|14.07|13.47| 8174800| 0.5999999999999996|        1.0|   1362373200|
|14.01|14.05|14.05|13.71| 7676100|0.33999999999999986|        1.0|   1362459600|
|14.52|14.57|14.68|14.25|13243200| 0.4299999999999997|        1.0|   1362546000|
| 14.7|14.82|14.93| 14.5| 9125300| 0.4299999999999997|        1.0|   1362632400|
|14.99|14.92| 15.2|14.84|10593700|0.35999999999999943|        1.0|   1362718800|
+-----+-----+-----+-----+--------+-------------------+-----------+-------------+
only showing top 20 rows

Dropping NAN values

In [115]:
dataset = dataset.na.drop()
dataset.show()

+-----+-----+-----+-----+--------+-------------------+-----------+-------------+
| open|close| high|  low|  volume|               diff|Stock_Abbrv|dateAsInteger|
+-----+-----+-----+-----+--------+-------------------+-----------+-------------+
|15.07|14.75|15.12|14.63| 8407500|0.48999999999999844|        1.0|   1360299600|
|14.89|14.46|15.01|14.26| 8882000|               0.75|        1.0|   1360558800|
|14.45|14.27|14.51| 14.1| 8126000|0.41000000000000014|        1.0|   1360645200|
| 14.3|14.66|14.94|14.25|10259500| 0.6899999999999995|        1.0|   1360731600|
|14.94|13.99|14.96|13.16|31879900| 1.8000000000000007|        1.0|   1360818000|
|13.93| 14.5|14.61|13.93|15628000| 0.6799999999999997|        1.0|   1360904400|
|14.33|14.26|14.56|14.08|11354400| 0.4800000000000004|        1.0|   1361250000|
|14.17|13.33|14.26|13.15|14725200| 1.1099999999999994|        1.0|   1361336400|
|13.62|13.37|13.95| 12.9|11922100|  1.049999999999999|        1.0|   1361422800|
|13.57|13.57| 13.6|13.21| 6071400| 0.3899999999999988|        1.0|   1361509200|
| 13.6|13.02|13.76| 13.0| 7186400| 0.7599999999999998|        1.0|   1361768400|
|13.14|13.26|13.42| 12.7| 9419000| 0.7200000000000006|        1.0|   1361854800|
|13.28|13.41|13.62|13.18| 7390500| 0.4399999999999995|        1.0|   1361941200|
|13.49|13.43|13.63|13.39| 6143600| 0.2400000000000002|        1.0|   1362027600|
|13.37|13.61|13.95|13.32| 7376800|  0.629999999999999|        1.0|   1362114000|
| 13.5| 13.9|14.07|13.47| 8174800| 0.5999999999999996|        1.0|   1362373200|
|14.01|14.05|14.05|13.71| 7676100|0.33999999999999986|        1.0|   1362459600|
|14.52|14.57|14.68|14.25|13243200| 0.4299999999999997|        1.0|   1362546000|
| 14.7|14.82|14.93| 14.5| 9125300| 0.4299999999999997|        1.0|   1362632400|
|14.99|14.92| 15.2|14.84|10593700|0.35999999999999943|        1.0|   1362718800|
+-----+-----+-----+-----+--------+-------------------+-----------+-------------+
only showing top 20 rows

In [116]:
dataset.select([count(when(isnan(c), c)).alias(c) for c in dataset.columns]).show()

+----+-----+----+---+------+----+-----------+-------------+
|open|close|high|low|volume|diff|Stock_Abbrv|dateAsInteger|
+----+-----+----+---+------+----+-----------+-------------+
|   0|    0|   0|  0|     0|   0|          0|            0|
+----+-----+----+---+------+----+-----------+-------------+

In [146]:
dataset = dataset.drop('Stock_Abbrv')

In [147]:
dataset.show()

+-----+-----+-----+-----+--------+-------------------+-------------+
| open|close| high|  low|  volume|               diff|dateAsInteger|
+-----+-----+-----+-----+--------+-------------------+-------------+
|15.07|14.75|15.12|14.63| 8407500|0.48999999999999844|   1360299600|
|14.89|14.46|15.01|14.26| 8882000|               0.75|   1360558800|
|14.45|14.27|14.51| 14.1| 8126000|0.41000000000000014|   1360645200|
| 14.3|14.66|14.94|14.25|10259500| 0.6899999999999995|   1360731600|
|14.94|13.99|14.96|13.16|31879900| 1.8000000000000007|   1360818000|
|13.93| 14.5|14.61|13.93|15628000| 0.6799999999999997|   1360904400|
|14.33|14.26|14.56|14.08|11354400| 0.4800000000000004|   1361250000|
|14.17|13.33|14.26|13.15|14725200| 1.1099999999999994|   1361336400|
|13.62|13.37|13.95| 12.9|11922100|  1.049999999999999|   1361422800|
|13.57|13.57| 13.6|13.21| 6071400| 0.3899999999999988|   1361509200|
| 13.6|13.02|13.76| 13.0| 7186400| 0.7599999999999998|   1361768400|
|13.14|13.26|13.42| 12.7| 9419000| 0.7200000000000006|   1361854800|
|13.28|13.41|13.62|13.18| 7390500| 0.4399999999999995|   1361941200|
|13.49|13.43|13.63|13.39| 6143600| 0.2400000000000002|   1362027600|
|13.37|13.61|13.95|13.32| 7376800|  0.629999999999999|   1362114000|
| 13.5| 13.9|14.07|13.47| 8174800| 0.5999999999999996|   1362373200|
|14.01|14.05|14.05|13.71| 7676100|0.33999999999999986|   1362459600|
|14.52|14.57|14.68|14.25|13243200| 0.4299999999999997|   1362546000|
| 14.7|14.82|14.93| 14.5| 9125300| 0.4299999999999997|   1362632400|
|14.99|14.92| 15.2|14.84|10593700|0.35999999999999943|   1362718800|
+-----+-----+-----+-----+--------+-------------------+-------------+
only showing top 20 rows

Converting the variables into a single target variable and scaling them using Min Max Scaler

In [198]:
vecAssembler = VectorAssembler(inputCols=dataset.columns, outputCol="features",handleInvalid='skip')
normalizer = MinMaxScaler(inputCol="features", outputCol="scaledFeatures",min=0,max=1)
pipeline_normalize = Pipeline(stages=[vecAssembler,normalizer])
df_transf = pipeline_normalize.fit(dataset).transform(dataset)
#%%
to_array = F.udf(lambda x: (x.toArray().tolist()), ArrayType(DoubleType())) # IF spark 3.0.0 then a api - vectortoarray available
df_array = df_transf.withColumn("scaledFeatures",to_array("scaledFeatures"))
#%%\
df_final= df_array.select([F.col('scaledFeatures')[i].alias(dataset.columns[i]) for i in range(len(dataset.columns))])

In [199]:
df_final.show()

+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|                open|               close|                high|                 low|              volume|                diff|       dateAsInteger|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|0.006585454224972825|0.006427632960667379|0.006499540241010503|0.006456498542001663|  0.0135989787187442| 0.00537847886510487|                 0.0|
|0.006497321752073561|0.006285990592993098|0.006446304989594929|0.006274556084991715|0.014366483080324295|0.007255531891852887|0.001643835616438356|
|0.006281886818319802|0.006193190421068569|0.006204326574069594| 0.00619587826574417|0.013143652105920604|0.004800924087643957|0.002191780821917808|
|0.006208443090903749|0.006383674984492603|0.006412428011421...|0.006269638721288743|0.016594591105775464| 0.00682236580875719|0.002739726027397...|
|0.006521802994545579|0.006056432272969263|0.006422107148042396|0.005733646077664843| 0.05156561597217435|0.014835938346027531|0.003287671232876712|
|0.006027281896610816|0.006305527471292...|0.006252722257174...|0.006112283082793653| 0.02527814677520167|0.006750171461574...|0.003835616438356...|
| 0.00622313183638696|0.006188306201493594|0.006228524415622128|0.006186043538338227|0.018365593266985253|0.005306284517922269|0.006027397260273973|
|0.006144791860476...|0.005734073781020899|0.006083337366306926|0.005728728713961871|0.023817866611588377|0.009854528390427044|0.006575342465753424|
|0.005875498193284305|0.005753610659320...|0.005933310748681218|0.005605794621387582|0.019283848748690248|0.009421362307331347|0.007123287671232876|
|0.005851016950812287|0.005851295050820304|0.005763925857813484|0.005758232896179701|0.009820333957759463|0.004656535393278717|0.007671232876712329|
|0.005865705696295498|0.005582662974196667|0.005841358950781591|0.005654968258417298|0.011623847894876017|0.007327726239035501|0.009315068493150684|
|0.005640478265552933|0.005699884243996072|0.005676813628224363| 0.00550744734732815| 0.01523508127246025|0.007038948850305045|0.009863013698630137|
|0.005709025744474584|0.005773147537620701|0.005773604994434497|0.005743480805070786|0.011953979907939236|  0.0050175071291918|0.010410958904109589|
|0.005811846962857...|0.005782915976770651|0.005778444562745005|0.005846745442833189|0.009937117550817592|0.003573620185539...|0.010958904109589041|
|0.005753091980924216|0.005870831929120205|0.005933310748681218|0.005812323896912...| 0.01193182014028139|0.006389199725661493|0.011506849315068493|
|0.005816743211351462|0.006012474296794487|  0.0059913855684073|0.005886084352456962| 0.01322258616881862| 0.00617261668411365|0.013150684931506848|
|0.006066451884566046|0.006085737590419...|0.005981706431786286|0.006004101081328279|0.012415938276047296|0.004295563657365646|  0.0136986301369863|
|0.006316160557780628|0.006339717008317...|0.006286599235348208|0.006269638721288743| 0.02142072970144781|0.004945312782009185|0.014246575342465753|
|0.006404293030679892|0.006461822497692206|0.006407588443110876|0.006392572813863...| 0.01476002114391215|0.004945312782009185|0.014794520547945205|
|0.006546284237017598|0.006510664693441958|0.006538256787494557|0.006559763179764065|0.017135160036523763|0.004439952351730874|0.015342465753424657|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

**Converting to Feature vectors and applying minmax scaling**

In [215]:
required_features = ['dateAsInteger',
                    'open',
                    'close',
                    'volume',
                    'low',
                    'diff',
                   ]
assembler = VectorAssembler(inputCols=required_features, outputCol='features')
transformed_data = assembler.transform(df_final)

In [216]:
transformed_data.show()

+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|                open|               close|                high|                 low|              volume|                diff|       dateAsInteger|            features|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|0.006585454224972825|0.006427632960667379|0.006499540241010503|0.006456498542001663|  0.0135989787187442| 0.00537847886510487|                 0.0|[0.0,0.0065854542...|
|0.006497321752073561|0.006285990592993098|0.006446304989594929|0.006274556084991715|0.014366483080324295|0.007255531891852887|0.001643835616438356|[0.00164383561643...|
|0.006281886818319802|0.006193190421068569|0.006204326574069594| 0.00619587826574417|0.013143652105920604|0.004800924087643957|0.002191780821917808|[0.00219178082191...|
|0.006208443090903749|0.006383674984492603|0.006412428011421...|0.006269638721288743|0.016594591105775464| 0.00682236580875719|0.002739726027397...|[0.00273972602739...|
|0.006521802994545579|0.006056432272969263|0.006422107148042396|0.005733646077664843| 0.05156561597217435|0.014835938346027531|0.003287671232876712|[0.00328767123287...|
|0.006027281896610816|0.006305527471292...|0.006252722257174...|0.006112283082793653| 0.02527814677520167|0.006750171461574...|0.003835616438356...|[0.00383561643835...|
| 0.00622313183638696|0.006188306201493594|0.006228524415622128|0.006186043538338227|0.018365593266985253|0.005306284517922269|0.006027397260273973|[0.00602739726027...|
|0.006144791860476...|0.005734073781020899|0.006083337366306926|0.005728728713961871|0.023817866611588377|0.009854528390427044|0.006575342465753424|[0.00657534246575...|
|0.005875498193284305|0.005753610659320...|0.005933310748681218|0.005605794621387582|0.019283848748690248|0.009421362307331347|0.007123287671232876|[0.00712328767123...|
|0.005851016950812287|0.005851295050820304|0.005763925857813484|0.005758232896179701|0.009820333957759463|0.004656535393278717|0.007671232876712329|[0.00767123287671...|
|0.005865705696295498|0.005582662974196667|0.005841358950781591|0.005654968258417298|0.011623847894876017|0.007327726239035501|0.009315068493150684|[0.00931506849315...|
|0.005640478265552933|0.005699884243996072|0.005676813628224363| 0.00550744734732815| 0.01523508127246025|0.007038948850305045|0.009863013698630137|[0.00986301369863...|
|0.005709025744474584|0.005773147537620701|0.005773604994434497|0.005743480805070786|0.011953979907939236|  0.0050175071291918|0.010410958904109589|[0.01041095890410...|
|0.005811846962857...|0.005782915976770651|0.005778444562745005|0.005846745442833189|0.009937117550817592|0.003573620185539...|0.010958904109589041|[0.01095890410958...|
|0.005753091980924216|0.005870831929120205|0.005933310748681218|0.005812323896912...| 0.01193182014028139|0.006389199725661493|0.011506849315068493|[0.01150684931506...|
|0.005816743211351462|0.006012474296794487|  0.0059913855684073|0.005886084352456962| 0.01322258616881862| 0.00617261668411365|0.013150684931506848|[0.01315068493150...|
|0.006066451884566046|0.006085737590419...|0.005981706431786286|0.006004101081328279|0.012415938276047296|0.004295563657365646|  0.0136986301369863|[0.01369863013698...|
|0.006316160557780628|0.006339717008317...|0.006286599235348208|0.006269638721288743| 0.02142072970144781|0.004945312782009185|0.014246575342465753|[0.01424657534246...|
|0.006404293030679892|0.006461822497692206|0.006407588443110876|0.006392572813863...| 0.01476002114391215|0.004945312782009185|0.014794520547945205|[0.01479452054794...|
|0.006546284237017598|0.006510664693441958|0.006538256787494557|0.006559763179764065|0.017135160036523763|0.004439952351730874|0.015342465753424657|[0.01534246575342...|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

**Modeling**

In [217]:
featureIndexer =\
    VectorIndexer(inputCol="features", outputCol="indexedFeatures", maxCategories=4).fit(transformed_data)

In [218]:
(training_data, test_data) = transformed_data.randomSplit([0.8,0.2])

In [219]:
training_data.show()

+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-------------------+--------------------+
|                open|               close|                high|                 low|              volume|                diff|      dateAsInteger|            features|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-------------------+--------------------+
|2.448124247201785E-5|1.465265872492565E-5|4.839568310506708E-6|5.409100073268724E-5|0.019274738981431196|0.002490704977800256| 0.4925799086757991|[0.49257990867579...|
|2.448124247201785E-5|3.907375659980162...|                 0.0| 7.37604555445734E-5|0.011330955613986999|0.002129733241887179|  0.527648401826484|[0.52764840182648...|
|2.937749096642144...|6.349485447467771E-5|1.935827324202683E-5|7.867781924754497E-5|0.018193007496961577|0.002346316283435026| 0.5249086757990867|[0.52490867579908...|
|3.427373946082504E-5|3.418953702482641E-5|4.839568310506708E-6|7.867781924754497E-5| 0.00920837337262326|0.002129733241887179| 0.5271004566210046|[0.52710045662100...|
|3.427373946082504E-5|6.349485447467771E-5|1.935827324202683E-5|7.867781924754497E-5|   0.017331796433212|0.002346316283435026| 0.5090182648401826|[0.50901826484018...|
|3.427373946082504E-5|7.814751319960336E-5|6.775395634709391E-5| 7.37604555445734E-5|0.027848953181229475|0.003140454102443...| 0.5079223744292237|[0.50792237442922...|
|3.916998795522863E-5|6.349485447467771E-5|1.451870493152012...|8.851254665348811E-5|0.009283483662474331|0.002129733241887179| 0.5281963470319635|[0.52819634703196...|
|  5.8754981932843E-5|9.280017192452901E-5| 7.01737405023472E-5|1.180167288713175...| 0.01914990831946082|0.002526802151391...|  0.509566210045662|[0.50956621004566...|
| 6.36512304272466E-5|5.861063489970249E-5|2.903740986304024...|8.851254665348811E-5|0.009130052342713734|0.002346316283435026| 0.5254566210045662|[0.52545662100456...|
| 6.36512304272466E-5|8.791595234955379E-5|3.871654648405366E-5|1.081820014653743...| 0.01020001974030923|0.002201927589069795| 0.5128538812785388|[0.51285388127853...|
| 6.36512304272466E-5|1.269897089493555...|8.711222958912073E-5|1.229340925742890...| 0.01767033298297231|0.002707288019348...| 0.5101141552511416|[0.51011415525114...|
|6.854747892165019E-5|3.907375659980162...|3.871654648405366E-5| 7.37604555445734E-5|   0.026653631051246|0.002707288019348...| 0.4909360730593607|[0.49093607305936...|
|6.854747892165019E-5|9.768439149950422E-5|7.743309296810732E-5|1.278514562772606...|0.011572016683574705|0.002490704977800...| 0.5134018264840182|[0.51340182648401...|
|6.854747892165019E-5|1.123370502244298...|7.259352465760062E-5|1.278514562772606...|0.010878008345559366|0.002418510630617642| 0.5139497716894977|[0.51394977168949...|
|6.854747892165019E-5|1.172212697994050...|6.775395634709391E-5|1.081820014653743...|0.011558641565416842|0.002635093672165489| 0.5292922374429224|[0.52929223744292...|
|7.344372741605378E-5|7.326329362462814E-5|3.871654648405366E-5|1.081820014653743...| 0.00894743159469376|0.002201927589069795| 0.5287442922374429|[0.52874429223744...|
|7.344372741605378E-5|1.807161242740828E-4|1.451870493152011...|1.278514562772606...|0.041379092662619646|0.003501425838356875|0.49367579908675796|[0.49367579908675...|
|8.323622440486096E-5|5.372641532472727...|5.323525141557378...|9.834727405943125E-5|0.022233457781564082|0.002562899324982873| 0.5057305936073059|[0.50573059360730...|
|8.323622440486096E-5|1.025686110744794...| 6.29143880365872E-5|1.229340925742890...|0.015773621856592274|0.002346316283435026| 0.5046347031963471|[0.50463470319634...|
|8.813247289926455E-5|6.837907404965293E-5|7.022213618545227E-5|1.057233196138886...|0.016134680494299142|0.002708009962819929| 0.5238127853881278|[0.52381278538812...|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-------------------+--------------------+
only showing top 20 rows

In [220]:
rf = RandomForestRegressor(featuresCol="indexedFeatures",labelCol='high')
pipeline = Pipeline(stages=[featureIndexer, rf])

In [221]:
model = pipeline.fit(training_data)

In [222]:
predictions = model.transform(test_data)

In [224]:
evaluator = RegressionEvaluator(
    labelCol="volume", predictionCol="prediction", metricName="rmse")
rmse = evaluator.evaluate(predictions)
print("Root Mean Squared Error (RMSE) on test data = ", rmse)
accuracy = evaluator.evaluate(predictions)
print("Accuracy on test data = s", accuracy)

Root Mean Squared Error (RMSE) on test data =  0.05810955446086183
Accuracy on test data =  0.8456334466473277